[class^="panels_"] > [class^="container_"] > [class^="avatarWrapper_"] + div {
  min-width: 0;
  flex: 1 1 min-content !important;
}

.keybindRecorder-container:not(:hover) .closeButton {
  color: var(----interactive-hover);
  display: none;
}
