[class^="panels_"] > [class^="container_"] > [class^="avatarWrapper_"] {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0px;
  min-width: 0px;
}

[class^="panels_"] > [class^="container_"] > [class^="avatarWrapper_"] + div {
  flex-shrink: 1;
  flex-grow: 0;
  justify-content: flex-end;
}

.keybindRecorder-container:not(:hover) .keybind-clear {
  opacity: 0;
}
.keybindRecorder-container .keybind-clear[disabled] {
  cursor: not-allowed;
  filter: brightness(75%);
}
.keybind-clear {
  opacity: 1;
  position: absolute;
  right: -15px;
  top: -15px;
  background-image: url("https://discord.com/assets/cc9937ea92f932c3.svg");
  background-color: var(--button-danger-background);
  text-indent: 9999em;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: opacity 0.1s ease-in-out, box-shadow 0.1s ease-in-out, transform 0.2s ease;
  box-shadow: var(--legacy-elevation-border), var(--legacy-elevation-low);
}
#profileDivider {
  background-color: var(--profile-body-divider-color);
  height: 1px;
  margin: 8px 4px;
}

.fakeDeafen-voicePanel {
  padding: 4px;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--border-faint);
  background: var(--primary-630);
}
